@keyframes animate {
    0% {
        transform: translate(0px, -7vh);
    }

    5% {
        transform: translate(100px, -5.5vh);
    }

    10% {
        transform: translate(210px, -4vh);
    }

    15% {
        transform: translate(320px, -4vh);
    }

    20% {
        transform: translate(430px, -5.5vh);
    }

    25% {
        transform: translate(540px, -7vh);
    }

    30% {
        transform: translate(650px, -7vh);
    }

    35% {
        transform: translate(760px, -5.5vh);
    }

    40% {
        transform: translate(870px, -4vh);
    } 

    45% {
        transform: translate(980px, -4vh);
    }

    50% {
        transform: translate(1090px, -5.5vh);
    }

    55% {
        transform: translate(1200px, -7vh);
    }

    60% {
        transform: translate(1310px, -7vh);
    } 

    65% {
        transform: translate(1420px, -5.5vh);
    }

    70% {
        transform: translate(1530px, -4vh);
    }

    75% {
        transform: translate(1640px, -4vh);
    }

    80% {
        transform: translate(1750px, -5.5vh);
    } 

    85% {
        transform: translate(1860px, -7vh);
    }

    90% {
        transform: translate(1970px, -7vh);
    }

    95% {
        transform: translate(2080px, -5.5vh);
    }

    100% {
        transform: translate(2190px, -4vh);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #4f94c9;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    animation: animate 80s linear infinite;
}

.background li:nth-child(9) {
    bottom: 54%;
    width: 150px;
    height: 150px;
    left: -150px;
    animation-delay: 30s;
}
.background li:nth-child(1) {
    bottom: 68%;
    width: 195px;
    height: 195px;
    left: -195px;
    animation-delay: 10s;
}
.background li:nth-child(2) {
    bottom: 10%;
    width: 174px;
    height: 174px;
    left: -174px;
    animation-delay: 1s;
}
.background li:nth-child(3) {
    bottom: 57%;
    width: 172px;
    height: 172px;
    left: -172px;
    animation-delay: 25s;
}
.background li:nth-child(4) {
    bottom: 47%;
    width: 147px;
    height: 147px;
    left: -147px;
    animation-delay: 50s;
}
.background li:nth-child(5) {
    bottom: 36%;
    width: 166px;
    height: 166px;
    left: -166px;
    animation-delay: 70s;
}
.background li:nth-child(6) {
    bottom: 63%;
    width: 168px;
    height: 168px;
    left: -168px;
    animation-delay: 60s;
}
.background li:nth-child(7) {
    bottom: 6%;
    width: 168px;
    height: 168px;
    left: -168px;
    animation-delay: 40s;
}
.background li:nth-child(8) {
    bottom: 78%;
    width: 190px;
    height: 190px;
    left: -190px;
    animation-delay: 80s;
}

#weatherPicto {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* @media screen and (min-width: 500px) {  
    #whatsapp {  
        display: none  
    }  
}   */